<div class="col-md-6 col-md-offset-3">

  <% admins_only do %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to new_admin_product_url, :class => 'btn btn-success btn-lg btn-block', :id => 'new-product' do %>
          <i class="glyphicon glyphicon-plus new-product"></i> Agregar Producto
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">

      <h3>
        <%= @product.name %>
      </h3>
      <% if ! @product.price.blank? %>
        <h4 class="gray">
          $ <%= @product.price %>
        </h4>
      <% end %>
      <%= @product.description %>

      <a href="#" class="btn btn-default btn-lg btn-block" role="button">
        Comprar
      </a>

      <%=
        #render "layouts/carousel"
      %>

      <!--
      <% if @product.attachments.any? %>
        <% @product.attachments.each_with_index do |attachment, index| %>

          <div class="item <%= index == 0 ? 'active' : '' %>">
            <%= image_tag attachment.file.url, class: 'img-responsive', alt: @product.name %>
          </div>

        <% end %>
      <% end %>
      -->

      <% if @product.attachments.any? %>
        <% @product.attachments.in_groups_of(2, false).each do |group| %>
          <div class="row">
            <% group.attachments.each_with_index do |attachment, index| %>

              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                  <div class="panel-body_image">

                    <div class="item <%= index == 0 ? 'active' : '' %>">
                      <%= image_tag attachment.file.url, class: 'img-responsive', alt: @product.name %>
                    </div>

                  </div>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>
      <% end %>

  	</div>
  </div>
</div>
